.root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.logo {
  font-size: 4rem;
}
.brand {
  width: 80%;
}

.logo{
  color: #484848;
  font-weight: bold;
  cursor: pointer
}
.logo span{
  transition: .5s linear
}
.logo:hover span:nth-child(1){
  margin-right: 2px
}
.logo:hover span:nth-child(1):after{
  content: " your";
}
.logo:hover span:nth-child(2){
  margin-left: 30px
}
@media screen and (max-width: 868px){
  .logo {
  font-size: 1rem;
}
}