.root {
  display: flex;
  overflow-x: scroll;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.bg {
  overflow-x: scroll;
  margin-top: 64px;
  position: relative;
}

.design {
  position: absolute;
  top: 80px;
  left: 100px;
}

.des_txt {
  position: absolute;
  top: 80px;
  left: 100px;
}

.fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

@media print {
  body {
    visibility: hidden;
  }
  .bg {
    visibility: visible;
  }
  .bg {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: 21cm;
    min-height: 29.7cm;
    background-color: #ffffff !important;
    page-break-after: always;
    position: absolute;
    top: 5cm;
    left: 3cm;
  }
}
@media screen and (max-width: 600px) {
  .bg {
    height: 600px;
  }
}
