@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family:  'Exo 2', sans-serif;
  
}
@font-face {
  font-family: 'Rajdhani';
  src: local('Rajdhani'), url(./Assets/fonts/Lemon.ttf) format('truetype');
}
@font-face {
  font-family: 'Gvtime';
  src: local('Gvtime'), url(./Assets/fonts/Gvtime.otf) format('truetype');
}
@font-face {
  font-family: 'Signature';
  src: local('Signature'), url(./Assets/fonts/Signature.ttf) format('truetype');
}
::-webkit-scrollbar {
    display: none;
}
body{
  background-color:#000;
  color:#fff;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
